{% extends "base.html" %}

{% block title %}{{super()}} [about]{% endblock %} 

{% block body_class %}{{super()}} about{% endblock %} 

{% block content %}
  {% set bios = articles|has_cat("Bio") %}

  <div id="main-folder" class="main-container">
    
    <div class="about-container">
      {% for article in bios %}
          {% include "partials/bio.html" %}
      {% endfor %}
    </div>

  </div>

<script src="{{ SITEURL }}/theme/js/init-index.js"></script>

{% endblock %}
