{% extends "base.html" %}

{% block title %}{{super()}} [Artists]{% endblock %} 

{% block content %}

  <div id="main-folder" class="main-container">
    
    <div class="folder-content artists">

      {% for artist in artists %}

        <div class="file" id="{{ artist[0].slug }}">
          <div class="file-tab">{{ artist[0] }}</div>
          <ul class="comma-list">
          {% for article in artist[1] %}
            <li class="{{ article.authors|join(' ', attribute='slug') }}"
              {% if article.authors|length != 1 %} style="--c-accent: var(--tekhne);" {% endif %}>
              <a href="/{{article.url}}">{{article.title}}</a>
              {% if loop.revindex != 1 %}, {% endif %}
            </li>
          {% endfor %}
          </ul>

          {# adding the bio if it exists #}
          {#
          {% set bio = articles|selectattr('title', 'equalto', artist[0])|list %}
          {% if bio|length > 0 %}
          <div>
            {{ bio[0].content }}
          </div>
          {% endif %}
          #}

        </div>

      {% endfor %}

    </div>

  </div>
{% endblock %}
