{% macro date(d) %}
    {% if d|length == 2 %}  
        {# it's a range date #}
        <time class="date nw" datetime="{{ d[0]['d'].isoformat() }}">{{ d[0]['d']|strftime('%d %b') }}</time>
        <span class="range-date">
            <time class="date nw" datetime="{{ d[1]['d'].isoformat() }}">{{ d[1]['d']|strftime('%d %b %Y') }}</time>
        </span>
    {% elif d|length == 1 %}
        {# it's a simple date #}
        <span>
            <time class="date nw" datetime="{{ d[0]['d'].isoformat() }}">{{ d[0]['d']|strftime('%d %b %Y') }}</time>
        </span>
    {% endif %}
{% endmacro %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/reset.css" type="text/css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/style.css" type="text/css" />
    {# This extra block is to prevent the journal stylesheet from interfering with the normal stylesheet#}
    {% block journal_stylesheet%}
    {% endblock %}

    <script src="{{ SITEURL }}/theme/js/assign-filters.js" defer></script>

    <!-- inline svg text favicon -->
    <link rel="icon" href="/theme/assets/fav.svg">

  </head>

  <body class="{% block body_class %}{% endblock %}">
    {# importing all the filterrrrsss #}
    <aside class="filters">
      {# importing the svg files in the templates #}
      {% for filters in SVG_FILTERS_PATHS %}
        {% include 'filters/' + filters %}
      {% endfor %}
      {# dumping the list of filter 
          constructed from the pelican plugin 
          as a javascript object #}
      <script type=text/javascript>
        let jsFILTERS = {{ SVG_FILTERS|tojson|safe }};
      </script>
    </aside>

    <header>
      {% block logo %}
      <h1 class="logo-container">
        <a href="/" class="logo">tekhnē</a>
      </h1>
      {% endblock %}
      
      {% block nav %}
      <nav class="flex-row">
        <a href="/" class="{% if output_file == 'index.html' %}active{% endif %}">Home</a>
        <a href="/about.html" class="{% if output_file == 'about.html' %}active{% endif %}">About</a>
        <a href="#newsletter">Newsletter</a>
        <a href="/artists.html" class="{% if output_file == 'artists.html' %}active{% endif %}">Artists</a>   
        <a href="/journal.html" class="{% if output_file == 'journal.html' %}active{% endif %}">Journal</a>
      </nav>
      {% endblock %}
      
    </header>
    
    {% block content %}
      {# content goes here #}
    {% endblock %}

    {% include "partials/footer.html" %}
  </body>
</html>
