{% extends "base.html" %} 

{% block title %}{{super()}} [{{article.title}}]{% endblock %} 

{% block body_class %}
  {{super()}}
  {% if article.authors|length == 1 %}
      {{ article.authors|join(' ', attribute='slug') }}
  {% endif %}
  article
{% endblock %}

{% block content %}

<div id="main-folder" class="main-container">

  <div class="file">

    {% if article.cover %}
    <div class="file-image">
      <img class="image-process-cover" src="{{ SITEURL }}/images/{{article.cover}}">
      {% if article.cover_text %}
      <figcaption>{{article.cover_text}}</figcaption>
      {% endif %}
    </div>
    {% endif %}

    {% if article.tags %}
    <div class="file__tags">
        <p>
          Related to
        </p>
        <ul>
          {% for t in article.tags %}
          <li>
              {# listing all article with same tags #}
              {% set related_articles = articles|has_tag(t, article) %}

              {% if related_articles|length == 0 %}
                <span class="tag">{{ t }}</span>
              {% else %}
                <span class="tag active">{{ t }}</span>
                <ul class="tag__list">
                  {% for a in related_articles %}
                    <li><a href="/{{a.url}}">{{a.title}}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

  

    {# --- POST HEADER --- #}

    <div class="file-tab">
      {% if article.event_type %}
          {{ article.event_type }}
      {% elif article.about %}
          {{ article.about}}
      {% else %}
          {{ article.category.ancestors[0] }}
      {% endif %}
    </div>

    <div class="file-indicator"
        {% if article.authors|length > 1 and article.authors|length < 6 %}
            style=" background: linear-gradient( 
            {% for author in article.authors %} 
                var(--{{ author.slug }})
                {{(loop.index - 1) / loop.length * 100}}% 
                {{ loop.index / loop.length * 100 }}% 
                {{ ", " if not loop.last else ""}} 
            {% endfor %} );"
        {% endif %}>
    </div>

    {# --- POST METADATA and SHORT --- #}

    <h2 class="article__title">{{ article.title }}</h2>

    <div class="file__meta">

        {% if article.authors %}
        <div class="article__authors big-text">
            {% if article.authors|length == 6 %}
              <a href="/" class="tekhne author filtered-button">tekhnē</a>
            {% else %}
              {% for author in article.authors %}
              <a href="/?partner={{author.slug}}" class="{{author.slug}} author filtered-button">{{author}}</a>
              {% endfor %}
            {% endif %}
        </div>
        {% endif %}

        {% if article.event_city %}
        <div class="event__location">
            {% set loc = article.event_city.split(';') %}
            <span class="city big-text">{{ loc[0] }}</span>
            <span class="country">{{ loc[1] }}</span>
            {% if article.event_address %}
            <br/><span class="address">{{article.event_address}}</span>
            {% endif %}
        </div>
        {% endif %}
        
        {% if article.event_date %}
        <div class="event__date big-text">
            {{ date(article.event_date['full']) }}
        </div>
        {% elif article.deadline%}
        <div class="file__date big-text">
            deadline on<br/>{{ date([{'d': article.deadline}]) }}
        </div>
        {% else %}
        <div class="file__date big-text">
            {{ date([{'d': article.date}]) }}
        </div>
        {% endif %}

        {% if article.artists %}
        <div class="file__artists">
          <ul class="comma-list">
            {% for artist in article.artists %}
              <li><a href="/artists.html#{{artist.slug}}">{{artist}}</a></li>
              {% if loop.revindex != 1 %}, {% endif %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        
    </div>
    
    <div class="event__text">
        {{ article.content }}
    </div>

  </div>

</div>

{% endblock %}
