{% extends "base.html" %}
{% block journal_stylesheet %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/journal.css" type="text/css" />
{% endblock %}

{% block title %}{{super()}} [{{article.title}}]{% endblock %}

{% block body_class %}
  {{super()}}
  {% if article.authors|length == 1 %}
      {{ article.authors|join(' ', attribute='slug') }}
  {% endif %}
  issue
{% endblock %}

{% block logo %}
<h1 class="logo-container">
  <a href="/{{article.url}}" class="logo rand">{{ article.title }}</a>
</h1>
{% endblock %}

{% block nav %}
<nav class="flex-row">
  <a href="/" class="{% if output_file == 'index.html' %}active{% endif %}">tekhne.website</a>
  <a href="/journal.html" class="{% if output_file == 'journal.html' %}active{% endif %}">journal</a> 
</nav>
{% endblock %}

{% block content %}

    {% set issue_articles = articles|has_cat(article.category)|sort(attribute='source_path') %}

    <div class="issue__folder">
      <div class="issue__editorial">
        <div class="edito__content">
          <h2>{{ article.title }}</h2>
          {# <h2>Issue organized by {{ article.authors|join(', ') }}</h2> #}
          <h2>Published on {{ date([{'d': article.date}]) }}</h2>

          {{ article.content }}
          
        </div>
      </div>

      <div  class="folder-content">
        {% for article in issue_articles  %}
          {% if not article.iseditorial  %}
            {% include "partials/issue-card.html" %}
          {% endif %}
        {% endfor %}
      </div>

    </div>

{% endblock %}
