{% extends "base.html" %}
{% block content_title %}{% endblock %}

{% block content %}

    <main id="test-grid" class="test-grid">
        <template id="test-template">
            <div class="test-block">
                <h1 class="logo">tk</h1>
                <div class="filter-button">
                    <div class="button-back"></div>
                    button
                </div>
                <div class="filter-button active">
                    <div class="button-back"></div>
                    button
                </div>
                <div class="test-footer">

                </div>
            </div>
        </template>
    </main>

    <script src="{{ SITEURL }}/theme/js/filter-test-page.js"></script>

{% endblock %}