{% extends "base.html" %}

{% block content %}


{% set bios = articles|has_cat("Bio") %}
{% set blog_posts = articles|has_cat("Blog")|sort(attribute='date', reverse = True) %}
{% set calls = articles|has_cat("Calls")|sort(attribute='date', reverse = False) %}
{% set events = articles|has_cat("Events")|sort(attribute='date', reverse = False) %}

<div id="nav-folder" class="partner-filter">

  <div class="partners-board">

    <button 
      class="filtered-button grow active tekhne" id="tekhne-button" 
      onclick="filterPartners(event, 'tekhne')">
      tekhnē
    </button>
    <span>is initiated by</span>
    <div class="partners-board__grid">
      {% for cat, cat_articles in categories %}
        {% if cat == 'bios' %}
          {% for article in cat_articles %}
            {% if  not article.slug == "tekhne" %}
            <button 
              class="filtered-button {{article.slug}}" id="{{article.slug}}-button" 
              onclick="filterPartners(event, '{{article.slug}}')">
              {{article.title}}
              <sup>{{article.country}}</sup>
            </button>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
    
  </div>

  {% for article in bios %}
  <div id="{{article.slug}}-bio" class="{{article.slug}} bio {{"hidden" if article.slug != "tekhne"}}">
        {% include "partials/bio.html" %}
    </div>
  {% endfor %}

  <div class="content-navigation">
    <button id="blogs-button" class="content-button" onclick="filterMain(event, 'blogs')"><span>Blog</span></button>
    <button id="calls-button" class="content-button" onclick="filterMain(event, 'calls')"><span>Calls</span></button>
    <button id="events-button" class="content-button" onclick="filterMain(event, 'events')"><span>Events</span></button>
  </div>

</div>


<div id="main-folder" class="main-container index-container">

    <div id="blogs" class="folder-content blogs hidden tab">
        <div class="folder-info">
             <span class="data-number"></span> blog posts <span class="data-partner"></span> <br/>
            <a href="#" onclick="seeAll(event)" class="link-like">see all</a>
        </div>

        {% for article in blog_posts %}
          {% include "partials/card.html" %}
        {% endfor %}
    </div>

    <div id="calls" class="calls hidden tab">
      <details open>
        <summary class='big-text'>Upcoming</summary>
        <div class="folder-content">
          <div class="folder-info">
            <span class="data-number"></span> upcoming calls <span class="data-partner"></span><br/>
            <a href="#" onclick="seeAll(event)" class="link-like">see all</a>
          </div>
          {% for article in calls %}
            {% if not article|past_deadline %}
              {% include "partials/card.html" %}
            {% endif %}
          {% endfor %}
        </div>
      </details>
      <details>
        <summary class='big-text'>Past</summary>
        <div class="folder-content">
          <div class="folder-info">
             <span class="data-number"></span> past calls <span class="data-partner"></span> <br/>
            <a href="#" onclick="seeAll(event)" class="link-like">see all</a>
          </div>
          {% set calls = articles|has_cat("Calls")|sort(attribute='date', reverse = True) %}
          {% for article in calls %}
            {% if article|past_deadline %}
              {% include "partials/card.html" %}
            {% endif %}
          {% endfor %}
        </div>
      </details>
    </div>

    <div id="events" class="events tab">
      <details open>
        <summary class='big-text'>Upcoming</summary>
        <div class="folder-content">
          <div class="folder-info">
            <span class="data-number"></span> upcoming events <span class="data-partner"></span><br/>
            <a href="#" onclick="seeAll(event)" class="link-like">see all</a>
          </div>
          {% for article in events %}
            {% if not article|past %}
              {% include "partials/card.html" %}
            {% endif %}
          {% endfor %}
        </div>
      </details>
      <details>
        <summary class='big-text'>Past</summary>
        <div class="folder-content">
          <div class="folder-info">
             <span class="data-number"></span> past events <span class="data-partner"></span> <br/>
            <a href="#" onclick="seeAll(event)" class="link-like">see all</a>
          </div>
          {% set events = articles|has_cat("Events")|sort(attribute='date', reverse = True) %}
          {% for article in events %}
            {% if article|past %}
              {% include "partials/card.html" %}
            {% endif %}
          {% endfor %}
        </div>
      </details>
    </div>

    {#
      {% if article.event_date and article|past %}
          past
      {% endif %}
      {% if article.deadline and article|past_deadline %}
          past
      {% endif %}
    #}

</div>

<script src="{{ SITEURL }}/theme/js/init-index.js"></script>
<script>
  initializeURLState();
</script>

{% endblock %}

