{% extends "base.html" %}

{% block journal_stylesheet %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/journal.css" type="text/css" />
{% endblock %}

{% set issue_articles = articles|has_cat(article.category)|sort(attribute='source_path') %}
{% set edito = issue_articles|selectattr('iseditorial', 'equalto', 'True')|first %}

{% block title %}{{super()}} [{{article.title}}]{% endblock %} 

{% block body_class %}
  {{super()}}
  {% if article.authors|length == 1 %}
      {{ article.authors|join(' ', attribute='slug') }}
  {% endif %}
  journal
  article
{% endblock %}

{% block logo %}
<h1 class="logo-container">
  <a href="/{{edito.url}}" class="logo rand">{{ edito.title }}</a>
</h1>

<div class="edito-print">
  <h2>Published on {{ date([{'d': edito.date}]) }}</h2>
  {{ edito.content }}
</div>
{% endblock %}

{% block nav %}
<nav class="flex-row">
  <a href="/" class="{% if output_file == 'index.html' %}active{% endif %}">tekhne.website</a>
  <a href="/journal.html" class="{% if output_file == 'journal.html' %}active{% endif %}">journal</a> 
</nav>
{% endblock %}

{% block content %}

<div id="main-folder" class="journal-main-container">
  <div class="issue-toc">
    <div>
      {% for a in issue_articles %}
            {% if not a.iseditorial  %}
            <div class="{% if a == article%}active{% endif %}">
              <a class="issue-toc-article" href="{{SITEURL}}/{{ a.url }}">
                <img src="/theme/assets/arrow.svg">
                {{ a.title }}
                {% if a.artists %}
                <ul class="artists">
                  {% for artist in a.artists %}
                  <li>{{artist}}</li>
                  {% if loop.revindex != 1 %}, {% endif %}
                  {% endfor %}
                </ul>
                {% endif %}
                </a>
            </div>
            {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="text-content">

    <div class="journal-article-header">

      {% if article.cover %}
      <div class="file-image">
        <img class="image-process-cover" src="{{ SITEURL }}/images/{{article.cover}}">
        {% if article.cover_text %}
        <figcaption>{{article.cover_text}}</figcaption>
        {% endif %}
      </div>
      {% endif %}

      {% if article.tags %}
      <div class="file__tags">
        <p>
          Related to
        </p>
        <ul>
          {% for t in article.tags %}
          <li>
              {# listing all article with same tags #}
              {% set related_articles = articles|has_tag(t, article, issue_articles) %}

              {% if related_articles|length == 0 %}
                <span class="tag">{{ t }}</span>
              {% else %}
                <span class="tag active">{{ t }}</span>
                <ul class="tag__list">
                  {% for a in related_articles %}
                    <li><a href="/{{a.url}}">{{a.title}}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <h2 class="journal-article__title">{{ article.title }}</h2>

      <div class="journal-file__meta">

        {% if article.artists %}
        <div class="journal-file__artists">
          by
          <ul class="comma-list">
            {% for artist in article.artists %}
              <li><a href="/artists.html#{{artist.slug}}">{{artist}}</a></li>
              {% if loop.revindex != 1 %}, {% endif %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if article.event_city %}
        <div class="event__location">
            {% set loc = article.event_city.split(';') %}
            <span class="city big-text">{{ loc[0] }}</span>
            <span class="country">{{ loc[1] }}</span>
            {% if article.event_address %}
            <br/><span class="address">{{article.event_address}}</span>
            {% endif %}
        </div>
        {% endif %}
      </div>
      
    </div>
    <div class="journal-container">
          {{ article.content }}
    </div>
    <div class="journal-controls">
      <button class="journal-button" onclick="scrollToTop()">Scroll to top</button>
      <button class="journal-button" onclick="print()">Print this</button>
    </div>
  </div>
</div>

<script src="{{ SITEURL }}/theme/js/scroll-top-journal.js"></script>

{% endblock %}
