{% extends "base.html" %} 
{% block journal_stylesheet %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/journal.css" type="text/css" />
{% endblock %}

{% block title %}{{super()}} [Journal]{% endblock %}


{% block body_class %}
{{super()}}
journal
{% endblock %}

{% block logo %}
<h1 class="logo-container">
  <a href="/journal.html" class="logo">tekhnē journal</a>
</h1>
{% endblock %}

{% block nav %}
<nav class="flex-row">
  <a href="/" class="{% if output_file == 'index.html' %}active{% endif %}">tekhne.website</a>
  <a href="/journal.html" class="{% if output_file == 'journal.html' %}active{% endif %}">journal</a> 
</nav>
{% endblock %}

{% block content %}

{% set journals = articles|has_cat("Journal") %}
{% set header_text = journals|selectattr('isheadertext')|first %}

<div id="main-folder" class="main-container journal">
  <details class="journal-intro">
    <summary class="ui-bold link-like"></summary>
    <main>{{ header_text.content }}</main>
  </details>

  <div  class="folder-content">
    {% for cat, cat_articles in categories %}
      {% if cat == "journal" %}
        {% for issue in cat.children|reverse  %}
          {% include "partials/journal-card.html" %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>

</div>

{% endblock %}
