<div class="call">
  <div class="template-hint">partials/artist-card</div>
  <h2><a href="{{ SITEURL }}/{{article.slug}}.html">{{article.title}}</a></h2>
  <p>
    Authored by {{article.authors|join(', ')}} and published on
    {{article.locale_date}}
  </p>
  {{article.summary}}
</div>
