<div class="file {{ article.authors|join(' ', attribute='slug') }}">
    <div class="file-tab">
      <h2>{{ article.title }}</h2>
    </div>
    <a class="file-link" href="{{ SITEURL }}/{{ article.slug }}.html">🡥</a>

    <div class="file-indicator" 
        {% if article.authors|length > 1 and article.authors|length < 6 %}
            style=" background: linear-gradient( {% for author in
            article.authors %} var(--{{ author.slug }}) {{(loop.index - 1) / loop.length *
            100}}% {{ loop.index / loop.length * 100 }}% {{ ", " if not loop.last else ""
            }} {% endfor %} );"
        {% elif article.authors|length == 6%}
            style=" background: var(--tekhne);"
        {% endif %}>
    </div>

    <div class="file-meta">
        <p>
            This post was authored by
            {% for author in article.authors %}
                {% if not loop.first and loop.index != loop.length %}
                    ,
                {% elif  loop.index == loop.length and loop.length != 1 %}
                    and
                {% endif %}
                <a class="{{ author.slug }}" href="/?org={{ author.slug }}">{{- author -}}</a>
            {% endfor %}
            and published on {{ article.locale_date }}.
            {% if article.tags %}
                This post is related to
                {% for tag in article.tags %}
                    {% if not loop.first and loop.index != loop.length %}
                        ,
                    {% elif  loop.index == loop.length and loop.length != 1 %}
                        and
                    {% endif %}
                    <a href="/tag/{{ tag.slug }}.html">{{- tag -}}</a>{{"." if loop.last else ""}}
                {% endfor %}
            {% endif %}
            {% if article.about %}
                This post is about
                {% for about in  article.about.split(', ') %}
                    {% if not loop.first and loop.index != loop.length %}
                        ,
                    {% elif  loop.index == loop.length and loop.length != 1 %}
                        and
                    {% endif %}
                    <span class="emphasis">{{- about -}}</span>{{"." if loop.last}}
                {% endfor %}
            {% endif %}
        </p>
    </div>
    <div class="file-content">{{ article.summary }}</div>
    <div class="template-hint">partials/blog-card</div>
</div>
