<div class="main-container">
  <div class="file">
    <h2 class="file-tab">Blog</h2>
    <h1>{{article.title}}</h1>
    {{article.content}}
    <div class="template-hint">Partials/blog</div>
  </div>

  <div class="file">
    <h2 class="file-tab">meta</h2>
    <p>
      Authored by {% for author in article.authors %}
      <a href="/?org={{author.slug}}">{{author}}</a>, {% endfor %} and published
      on {{article.locale_date}}.{% if article.tags %} This post is related to
      {% for tag in article.tags %}
      <a href="/tag/{{tag.slug}}.html">{{tag}}</a> {% endfor %} {% endif %}
    </p>
  </div>
</div>
