<div class="main-container">
  <div class="file">
    <h2 class="file-tab">Call</h2>
    <h1>{{article.title}}</h1>
    {{article.content}}
    <div class="template-hint">Partials/call</div>
  </div>
</div>

