<div class="main-container">

  <div class="file">
    <h2 class="file-tab">Event</h2>
    <h1>{{article.title}}</h1>
  
    <h3>{{article.event_start_date}} - {{article.event_end_date}}</h3>
    <h3>{{article.address}}</h3>
    <p>{{article.tags|join(", ")}}</p>
    <div class="file-content">{{article.content}}</div>
    <div class="template-hint">Partials/event</div>
  </div>
  
</div>
