/*  FONTS
    -------------------------------------------------------------------- */

@font-face {
  font-family: "Amiamie Rounded";
  src: url("fonts/Amiamie-RegularRound.woff"),
    url("fonts/Amiamie-RegularRound.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Amiamie Rounded";
  src: url("fonts/Amiamie-BlackRound.woff"),
    url("fonts/Amiamie-BlackRound.woff2");
  font-weight: bold;
}

/*  GLOBAL & TYPOGRAPHY
    -------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

:root {
  /* palette pure */
  --c-red: rgb(255, 0, 0);
  --c-green: rgb(0, 255, 0);
  --c-blue: rgb(0, 0, 255);
  --c-cyan: rgb(0, 255, 255);
  --c-magenta: rgb(255, 0, 255);
  --c-yellow: rgb(255, 255, 0);

  /* youtube interface inspired grey */
  --c-back: white;
  --c-grey-back: #f5f5f5;
  --c-grey-border: #d0d0d0;
  --c-grey-more: #606060;
  --c-main: #212121;

  --c-accent: var(--c-main);

  /* font-sizes */
  --fs-logo: min(6rem, 12vw);
  --fs-mega: min(2.5rem, 12vw);
  --fs-big: 1.25rem;
  --fs-small: 0.85rem;
  --lh: 1.4rem;

  /* max-sizes */
  --max-w: 42rem;
  --middle-width: 60rem;
  --mega-width: 78rem;
  --image-width: 28rem;

  /* ui */
  --file-corner: 2rem;
  --border-width: 3px;
  --border: var(--border-width) solid var(--c-grey-border);
}

/*  COLOR THEMES
    -------------------------------------------------------------------- */

:root{
  --ctm-festival: var(--c-red);
  --gmea: var(--c-green);
  --outra: var(--c-blue);
  --q-o2: var(--c-cyan);
  --skanu-mezs: var(--c-magenta);
  --trafo: var(--c-yellow);
  --tekhne: var(--c-main);
}
.tekhne {
  --c-accent: var(--tekhne) !important;
}
.ctm-festival {
  --c-accent: var(--ctm-festival) !important;
}
.gmea {
  --c-accent: var(--gmea) !important;
}
.outra {
  --c-accent: var(--outra) !important;
}
.q-o2 {
  --c-accent: var(--q-o2) !important;
}
.skanu-mezs {
  --c-accent: var(--skanu-mezs) !important;
}
.trafo {
  --c-accent: var(--trafo) !important;
}

/*  GLOBAL
    -------------------------------------------------------------------- */

html{

  scroll-behavior: smooth;
}

body {
  font-family: system-ui;
  line-height: var(--lh);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--c-back);
  color: var(--c-main);
}

/*  TYPOGRAPHY
    -------------------------------------------------------------------- */

p {
  /* system font is condensed */
  letter-spacing: -0.025em;
}

.nw{
  white-space: nowrap;
}

::selection {
  background-color: var(--c-accent);
}

h1,
h2,
h3,
h4,
h5,
h6,
.big-text{
  font-family: "Amiamie Rounded";
  font-size: var(--fs-big);
  line-height: 1;
}

h3,
h4,
h5,
h6 {
  font-size: 1rem;
}
h2,
h3,
h4,
h5,
h6 {
  margin: calc(var(--lh) * 1.5) 0 calc(var(--lh) * 0.5);
}

h2 + h2,
h3 + h3,
h2 + h3{
  margin-top: 0;
}

h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

* + p {
  margin-top: calc(var(--lh) * 0.5);
}

figure > img {
  vertical-align: middle;
  max-width: 100%;
}
figcaption {
  font-family: "Amiamie Rounded";
  margin-bottom: calc(var(--lh) * 0.5);
  font-size: var(--fs-small);
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
blockquote{
  padding: var(--lh);
}
sup {
  vertical-align: super;
  font-size: var(--fs-small);
}

.footnote  ol {
  list-style-type: decimal;
  margin: 0 var(--lh);
}
.footnote li {
  margin-bottom: var(--lh);
}

.ui-bold,
.file-tab{
  color: var(--c-grey-more);
  font-size: 1rem;
  font-family: system-ui;
  font-weight: 500;
}

.comma-list li{
  display: inline;
}

@media only screen and (max-width: 600px) {
  :root {
    --fs-mega: 2rem;
    --fs-big: 1.2rem;
  }
  p {
    font-size: 1em;
  }
}

/*  HYPERLINK STYLING
    -------------------------------------------------------------------- */

a {
  color: currentColor;
  text-decoration: none;
}

p > a,
li > a,
.link-like{
  font-family: "Amiamie Rounded";
  cursor: pointer;
  text-decoration: underline var(--border-width) var(--c-accent);
}
.link-like{
  background: none;
  border: none;
  font-size: 1rem;
}
.logo.link-like{
  text-decoration: underline calc(var(--border-width) * 4) var(--c-accent);
}

.issue-toc-article:hover,
nav > a:hover,
h2 > a:hover,
.file-link:hover > img,
.content-button:hover > span,
p > a:hover,
li > a:hover,
.link-like:not(.logo):hover{
  filter: url(#custom5);
}

.issue .file-image .link-like:hover{
  filter: none;
}

/* different hover for images */
.file-image.link-like:hover{
  filter: none;
}
.file-image.link-like:hover > *{
  filter: url(#custom1);
}

/*  SVG FILTERS
    -------------------------------------------------------------------- */

/* hidding them */
.filters > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

/* TEMP */
.template-hint {
  display: none;
}

/* HEADER */
header {
  padding: 0;
}

/*  LOGO
    -------------------------------------------------------------------- */

/* smooth apparition, after the filters are calculated */
.logo {
  opacity: 0;
  transition: 1s opacity;
}
.logo.computed {
  opacity: 1;
}

/* main logo styling */
.logo {
  font-weight: bold;
  font-size: var(--fs-logo);
  letter-spacing: var(--logo-ls);
  font-family: "Amiamie Rounded";
  color: var(--c-main);
  text-transform: lowercase;
  margin: 0;
  line-height: 1;
}
.logo:not(.rand){
  display: flex;
  text-decoration: none;
  flex-wrap: wrap;
}



.logo span {
  /* so the filters are not clipped/cutted */
  padding: 0.5em;
  margin: -0.5em;
}
.logo:not(.rand) span{
  display: block;
  flex-grow: 1;
  position: relative;
}
.logo:not(.rand) span::after {
  /* but then the line-through has to be drawn
    using border on each individual span
    (because then filters overlap, so they would be applied two time on the line) */

  content: "";
  position: absolute;
  left: 0.5em;
  right: 0.5em;

  border-bottom: 0.05em solid currentColor;
  top: 0.9em;
  bottom: auto;
}

.logo-container {
  margin-top: 1.5rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .logo-container {
    padding: 1.5rem 1rem 1.5rem;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.wrap {
  flex-wrap: wrap;
}
.grow {
  flex-grow: 1;
}

/*  TOP NAVIGATION (about, artist, journal)
    ----------------------------------------------------------- */

nav {
  background-color: var(--c-main);
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  /* height: var(--file-corner); */
  display: flex;
  justify-content: flex-end;
  gap: 0 0.5rem;
  padding: 0.3rem 1rem 0.3rem calc(var(--file-corner) + 0.5rem);
  flex-wrap: wrap;
  max-width: 100vw;
  height: auto;

  clip-path: polygon(
    0% 0%,
    0% 0%,
    100% 0%,
    100% 0%,
    100% 100%,
    100% 100%,
    var(--file-corner) 100%,
    0% calc(100% - var(--file-corner))
  );
}
nav a{
  color: var(--c-grey-border);

  /* bold UI*/
  font-family: system-ui;
  font-size: 1rem;
  font-weight: 500;
}
nav a.active{
  color: white;
}

/*  PARTNERS FILTER
    ----------------------------------------------------------- */

.hidden {
  display: none !important;
}

.partner-filter{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 5rem;
  padding-top: 1.5rem;

  border-top: var(--border);
  background-color: var(--c-grey-back);
}
.partner-filter {
  justify-content: space-between;
}

.partners-board{
  padding: 1rem;
  padding-bottom: 2rem;
  padding-top: 0rem;
  max-width: var(--max-w);

  font-family: "Amiamie Rounded";
  font-size: var(--fs-big);

  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1rem;
  align-items: baseline;
  align-content: baseline;
}
.partners-board__grid{
  flex: 1 0 100%;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  width: 100%;
  gap: 1rem 1rem;
}

.bio{
  /* to vertically center it with the first line 
  of the navigation interface */
  padding-top: calc(1.5rem - var(--border-width));
  padding-right: 2rem;
}
.bio > .file{
  /* remove some borders */
  border-bottom: none;
  border-right: none;
  height: 100%;
}
.bio .link-like{
  margin-left: auto;
  margin-top: var(--lh);
  display: block;
  width: fit-content;
}

/* artists files */
.folder-content.artists{
  display: flex !important;
  padding: 1rem var(--file-corner) !important;
  gap: var(--file-corner) !important;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: row;
}
.artists .file {
	margin: 0;
	padding: 0;
  flex-grow: 1;
	background: initial !important;
	border-bottom: 0;
}
.artists .file .file-tab{
  position: static;
  float: left;
}
.logo:not(.rand) .break{
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  line-height: 0;
}

@media only screen and (max-width: 900px) {
  .partner-filter{
    grid-template-columns: 1fr;
    padding-top: 1.5rem;
  }
  .partners-board{
    padding-right: 2rem;
    padding-bottom: 1rem;
  }
  .bio {
    padding: 1rem 1rem 0;
  }
  .artists .file{
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .partner-filter{
    padding-top: 1.5rem;
  }
  .partners-board{
    gap: 1rem;
  }
  .partners-board__grid{
    gap: 1rem;
  }
  .logo:not(.rand) .break{
    flex-basis: 100%;
  }
  .logo:not(.rand) .break::after{
    content: none;
  }
}
@media only screen and (max-width: 450px) {
  .partners-board__grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

/*  BIG CSS BUTTONS
    ----------------------------------------------------------- */

.filtered-button {
  font-family: "Amiamie Rounded";
  font-size: var(--fs-big);
  color: currentColor;
  background: none;
  border: none;
  position: relative;
  z-index: 0;

  text-decoration: none;
  text-align: center;
  cursor: pointer;

  /* need more spacing on top to appear centerd */
  padding: 1.5rem 2rem 1rem;

  /* border-radius: 100% 70%; */

  border-radius: 50%;
  --thick: 8px;
}

.filtered-button > sup,
.super{
  font-family: system-ui;
  font-size: 1rem;
  text-transform: lowercase;
  position: absolute;
  top: 0;
  left: 100%;
}

.filtered-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: 50%;

  box-shadow: 
    var(--thick) var(--thick) var(--thick) rgba(0,0,0,0.25),
    var(--thick) var(--thick) var(--thick) inset rgba(0,0,0,0.25),
    calc(-1 * var(--thick)) calc(-1 * var(--thick)) var(--thick) white,
    calc(-1 * var(--thick)) calc(-1 * var(--thick)) var(--thick) inset white;

  filter: blur(2px);
}
.filtered-button.active::before,
.filtered-button:hover::before{
    border: var(--thick) solid var(--c-accent);
    border-top: 0;
    border-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .filtered-button {
    padding: 1rem 1.5rem 0.75rem;
    --thick: 5px;
  }
}

/*  CONTENT NAVIGATION
    ----------------------------------------------------------- */

.content-navigation{
  grid-column: 1 / -1;

  display: flex;
  background-color: var(--c-grey-border);

  /* border-bottom: var(--border);
  border-color: var(--c-accent); */

  padding: calc(var(--border-width) * 1);
  gap: calc(var(--border-width) * 1);
}

.content-button {
  flex: 0 1 100%;
  text-decoration: none;
  background: var(--c-back);
  border: none;
  cursor: pointer;

  color: currentColor;
  font-family: system-ui;
  font-weight: 500;
  font-size: 1rem;

  height: calc(var(--file-corner) * 1.5);
  padding: 0;
}
.content-button.active {
  background-color: var(--c-accent);
  color: var(--c-back);
  text-decoration: none;
}

/*  MAIN CONTAINER
    ----------------------------------------------------------- */

.header{
  padding: 1rem var(--file-corner);
  border-top: var(--border);
  border-bottom: var(--border);
  background-color: var(--c-grey-back);
}

.main-container {
  margin-top: 0;
  max-width: none;
  /* padding: 1rem 2rem 2rem; */
  position: relative;
}
.main-container .file{
  background-color: var(--c-grey-back);
  border-left: 0;
  scroll-margin-top: calc(var(--file-corner) * 2);
}

.about-container{
  display: flex;
  padding: 1rem var(--file-corner);
  gap: 1rem var(--file-corner);
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.about-container > .tekhne{
  order: -1;
  flex: 1 1 var(--max-w);
  margin: 0 calc(calc(90vw - var(--max-w)) / 2 );
}
.about-container > * {
  flex: 1 1 30rem;
}
.about-container > * > .collapsed {
  display: block;
  -webkit-line-clamp: initial;
}
.about-container > * > .link-like{
  display: none;
}
.about-container > * > .collapsed > p{
  display: block !important;
}
@media only screen and (max-width: 900px) {
  .about-container > * > .collapsed > p:not(:first-child) {
    display: block;
  }
  .about-container > .tekhne{
    margin: 0;
  }
}

details summary{
  cursor: pointer;
  padding: 1rem var(--file-corner);
}
details + details{
  border-top: var(--border);
}

.folder-content{
  display: flex;
  flex-direction: column;
  align-items: center;


  padding: 1rem var(--file-corner) var(--file-corner);
}

.main-container:not(.journal) .folder-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  align-items: start;
  gap: var(--file-corner);
}

details > .folder-content{
  padding-top: 0;
}

.folder-info{
  position: sticky;
  top: 1rem;
  margin-right: auto;
  max-width: 28rem;
  z-index: 999;

  grid-column: -1 / 1;
}
.tekhne .folder-info a{
  display: none;
}

/* if main-container on an article page */
body.article .main-container {
  padding-top: 0;
}

/*  FILE BOXES
    ----------------------------------------------------------- */

.file {
  position: relative;
  max-width: min(var(--max-w), calc(100vw - 1em));
  margin: 0 auto;
  border-width: var(--border-width);
  border-style: solid;
  border-color: var(--c-grey-border);
  border-right: 0;

  padding: 0 var(--file-corner) 1rem;

  /* space to position file-tap in absolute */
  padding-top: calc(var(--file-corner) + 1rem);

  clip-path: polygon(
    0% var(--file-corner),
    var(--file-corner) 0%,
    100% 0%,
    100% 0%,
    100% 100%,
    100% 100%,
    0% 100%,
    0% 100%
  );
}
.file:target{
  border-color: var(--c-accent);
}
.file:target .file-tab{
  background-color: var(--c-accent);
  color: white;
}

.file-tab {
  position: absolute;
  top: 0;
  left: 0;

  height: var(--file-corner);
  width: fit-content;
  padding: 0 var(--file-corner);

  background-color: var(--c-grey-border);
  margin: 0;

  display: flex;
  align-items: center;

  white-space: nowrap;
  overflow: hidden;
  max-width: calc(100vw - var(--file-corner) * 2);

  clip-path: polygon(
    0% 0%,
    0% 0%,
    100% 0%,
    100% 0%,
    100% calc(100% - var(--file-corner)),
    calc(100% - var(--file-corner)) 100%,
    0% 100%,
    0% 100%
  );

  color: var(--c-grey-more);
}
.file-tab > *{
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.file-tab > img {
  /* exemption for the eu logo tab */
  width: auto;
  height: 100%;
  mix-blend-mode: multiply;
}

.file-link {
  top: 0;
  right: 0;
  height: var(--file-corner);
  width: var(--file-corner);
  background: var(--c-grey-border);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-big);
  text-decoration: none;
  color: var(--c-grey-more);
}

.file-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(var(--border-width) * 4);
  height: calc(100% - var(--file-corner));
  background-color: var(--c-accent);
}
.journal .file-indicator,
.about .file-indicator,
.partner-filter .file-indicator,
.article .file-indicator{
  height: 100% !important;
}

.file-meta {
  padding-bottom: var(--lh);
  opacity: 0.5;
}

.file-content img {
  width: 100%;
}

.file h1 {
  font-size: var(--fs-mega);
  padding-left: 0;
  line-height: calc(var(--lh) * 1.5);
}
.file h2{
  margin: 0;
}

/* --- */

.section-file{
  max-width: 100vw;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  /* align-items: end; */
}
/* .section-file + .section-file{
  margin-top: var(--file-corner);
} */

.file-image{
  /* margin-left: auto; */
}
/* .folder-content .file-image{
  padding-right: calc(var(--file-corner) * 2);
  border-bottom: var(--border);
} */

.folder-content .file-image img{
  /* border-radius: 25%; */
  max-width: min(28rem, 100vw);
  max-height: 16rem;
  display: block;
}

.file-image + .file{
  margin-top: calc(var(--file-corner) * -2);
  margin-left: calc(var(--file-corner) * 1);
  margin-right: 0;
}

.issue .folder-content .file-image img{
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
}

.file-image .no-image{
  width: min(28rem, 100vw);
  height: 35vh;
  background-color: var(--c-accent);
}

/* --- file for article --- */

.article .main-container .file{
  max-width: var(--middle-width);
  border-left: var(--border);
  margin-bottom: var(--file-corner);
}
.article .file__meta,
.article .event__text{
  max-width: 36rem;
}
.article .file__meta{
  margin: 1rem 0;
  padding: 1rem 0;
  border-bottom: var(--border);
  border-top: var(--border);
}


.article .file-image{
  float: right;
  width: min(28rem, 100vw);
  margin-bottom: 0 !important;
  margin-left: 1rem;
  background-color: var(--c-grey-back);
}
.article .file-image img{
  max-width: 100%;
}
.article .file-image figcaption {
  font-size: var(--fs-small);
  line-height: 1.35;
}

.article .file__tags{
  clear: both;
  float: right;
  width: min(28rem, 100vw);
  color: var(--c-grey-more);
  background-color: var(--c-grey-back);
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-size: var(--fs-small);
  line-height: 1.35;
}
.tag__list{
  padding-left: 1rem;
}


.article__authors{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0rem 0 2rem !important;
}

.artist_links {
  margin-top: 2vh;
}

.artist_links li > a{
  text-decoration: underline var(--border-width) black;
}

.article .article__about{
  margin-bottom: calc(var(--lh) * 0.5);
}
.article__title{
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: var(--fs-mega);
  line-height: 1;
}

@media only screen and (max-width: 760px) {
  .article .file{
    display: flex;
    flex-direction: column;
    border-left: none !important;
  }
  .article .file .article__title{
    order: 0;
  }
  .article .file .file-image{
    order: 1;
  }
  .article .file .file__meta{
    order: 2;
  }
  .article .file .file__tags{
    order: 3;
  }
  .article .file .event__text{
    order: 3;
  }

  .article .file__meta{
    margin-top: 0;
    border-top: none;
  }


  .article .file-image{
    float: none;
    margin-left: 0;
  }
  .article .file-image img{
    width: 100vw;
    max-width: 100vw;
    margin-left: -1rem;
    margin-bottom: 0;
    margin-top: 1rem;
  }

  .article .file-image figcaption {
    margin-left: 0;
  }
  .article .file__tags{
    float: none;
    max-width: 100%;
    margin: 0 0 1rem;
    padding: 0 0 1rem;
    border-bottom: var(--border);
  }
}

/* --- */

.collapsed {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}
.collapsed > p:not(:first-child) {
  display: none;
}

iframe{
  max-width: 100%;
}

/*  CARD SPECIFIC 
    -------------------------------------------------------------------- */

.range-date::before{
  content: "—";
}

.file__meta > *:not(:last-child){
  margin-bottom: calc(var(--lh) * 0.5);
}
.events h2{
  grid-column: 1 / -1;
}

.calls .file__meta,
.blogs .file__meta{
  margin-bottom: calc(var(--lh) * 0.5);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.calls .file__date,
.blogs .file__date{
  margin-left: auto;
  text-align: right;
}

.country{
  position: relative;
  top: calc(var(--lh) * -0.5);
  margin-left: 0.25rem;
  text-transform: lowercase;
}

.events .file{
  display: grid;
  grid-template-columns: 11rem 1fr;
  gap: 1em;
}
.section-file{
  position: relative;
}
.section-file::before {
	content: '';
	position: absolute;
	inset: calc(var(--file-corner) * 2);
	border: calc(var(--file-corner) * 1) solid var(--c-accent);
  border-top: 0;
  border-bottom: 0;
  filter: blur(1em);
  opacity: 0.5;
  border-radius: 50%;
	z-index: -1;
}

.event__summary img{
  display: none;
}
.event__summary p{
  margin: 0;
}

@media only screen and (max-width: 1000px) {
  .folder-content {
    margin-left: 0;
  }
}
@media only screen and (max-width: 900px) {
  .section-file{
    grid-template-columns: 1fr 1fr;
  }

  /* only event */
  .events .file{
    grid-template-columns: 1fr;
  }
  .file__meta > *:not(:last-child){
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 600px) {
  .folder-content {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .folder-info{
    padding: 1rem;
    position: static;
  }

  details summary{
    padding: 1rem;
  }

  .section-file{
    grid-template-columns: 1fr;
  }
  .file {
    /* divide side padding otherwise text length is too short */
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .file-image{
    padding-right: 0 !important;
    border-bottom: 0 !important;
  }
  .main-container .file-image + .file{
    margin-left: calc(var(--file-corner) * 0.5);
    margin-top: calc(var(--file-corner) * -0.5);
  }
}


/*  FOOTER
    ----------------------------------------------------------- */

body > footer{
  border-top: var(--border);
  background-color: var(--c-grey-back);
  padding: 2rem 1rem 0;

  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
body > footer > .file{
  border-right: none;
  border-bottom: none;
}

@media only screen and (max-width: 600px) {
  body > footer{
    padding: 1rem 0.5rem 0;
    gap: 1rem;
  }
}

/* newsletter */
input[type="text"],
input[type="email"] {
  width: 100%;
  border: var(--border);
  padding: 0.5rem;
  font-size: 1rem;
  font-family: system-ui;
  text-transform: lowercase;
  color: var(--c-grey-more);
}
#mc_embed_signup input.mce_inline_error {
	border-color: var(--c-accent) !important;
}
#mc_embed_signup div.mce_inline_error {
  padding: 0.5em !important;
  background-color: var(--c-accent) !important;
  font-weight: 400 !important;
}
