
<div class="file bio {{ article.authors|join(' ', attribute='slug') }}">

  <div class="file-tab">
    {{article.title}}
  </div>

  <div class="file-indicator" 
    {% if article.authors|length > 1 and article.authors|length < 6 %}
        style=" background: linear-gradient( 
        {% for author in article.authors %} 
            var(--{{ author.slug }}) 
            {{(loop.index - 1) / loop.length * 100}}% 
            {{ loop.index / loop.length * 100 }}% 
            {{ ", " if not loop.last else ""}} 
        {% endfor %} );"
    {% endif %}>
  </div>

  <div class="file-content collapsed">{{article.content}}</div>

  <span
    type="button"
    class="link-like"
    onClick="expandFileContent(event)">
    Show More
  </span>
  
  <div class="template-hint">partials/org-card</div>
</div>
