

{# author as class for accent color #}
<section    class="section-file
            {{ article.authors|join(' ', attribute='slug') }}
            "
            {% if article.authors|length != 1 %} style="--c-accent: var(--tekhne);" {% endif %}
            >

<div class="file-image link-like">
    <a href="/{{ article.url }}">
        {% if article.cover %}
        <img class="image-process-cover" src="{{ SITEURL }}/images/{{article.cover}}">
        {% else %}
        <div class="no-image"
            {% if article.authors|length > 1 and article.authors|length < 6 %}
                style=" background: conic-gradient( 
                {% for author in article.authors %} 
                    var(--{{ author.slug }}) 
                    {{(loop.index - 1) / loop.length * 100}}% 
                    {{ loop.index / loop.length * 100 }}% 
                    {{ ", " if not loop.last else ""}} 
                {% endfor %} );"
            {% endif %}>
            </div>
        {% endif %}
    </a>
</div>

<div class="file">

    {# --- POST HEADER --- #}

    <div class="file-tab">
        {% if article.event_type %}
            {{ article.event_type }}
        {% elif article.about %}
            {{ article.about}}
        {% else %}
            {{ article.category.ancestors[0] }}
        {% endif %}
    </div>

    <div class="file-indicator" 
        {% if article.authors|length > 1 and article.authors|length < 6 %}
            style=" background: linear-gradient( 
            {% for author in article.authors %} 
                var(--{{ author.slug }}) 
                {{(loop.index - 1) / loop.length * 100}}% 
                {{ loop.index / loop.length * 100 }}% 
                {{ ", " if not loop.last else ""}} 
            {% endfor %} );"
        {% endif %}>
    </div>

    <a class="file-link" href="/{{ article.url }}">
        <img src="{{ SITEURL }}/theme/assets/arrow.svg">
    </a>

    {# --- POST METADATA and SHORT --- #}

    {% if article.category.ancestors[0] != 'events' %}
    <div class="file__meta">
        {# on the same line: title and (date or deadline) #}
        <h2><a href="/{{article.url}}">{{ article.title }}</a></h2>
        
        {% if article.deadline%}
        <div class="file__date big-text">
            deadline on<br/>{{ date([{'d': article.deadline}]) }}
        </div>
        {% else %}
        <div class="file__date big-text">
            {{ date([{'d': article.date}]) }}
        </div>
        {% endif %}
    </div>
    
    {% else %}
        <h2><a href="/{{article.url}}">{{ article.title }}</a></h2>

        <div class="file__meta">
            {% if article.event_city %}
            <div class="event__location">
                {% set loc = article.event_city.split(';') %}
                <span class="city big-text">{{ loc[0] }}</span>
                <span class="country">{{ loc[1] }}</span>
            </div>
            {% endif %}
            {% if article.event_date %}
            <div class="event__date big-text">
                {{ date(article.event_date['full']) }}
            </div>
            {% endif %}
        </div>

    {% endif %}

    
    <div class="event__summary">
        {{ article.summary }}
    </div>

    {#
    <p>
        {% if article.tags %}
            This event is related to
            {% for tag in article.tags %}<a href="/tag/{{ tag.slug }}.html">{{ tag }}</a>{% endfor %}.
        {% endif %}
    </p>
    #}
</div>

</section>
