<footer class="full-w">

    <div class="file grow">
      <div class="file-tab">Contact</div>
      <ul>
        <li><a href="mailto:info@q-o2.be">info@q-o2.be</a></li>
        <li>
          <a href="https://mastodon.social/@tekhne_collab"
            >tekhnē on Mastodon</a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/tekhne_collab"
            >tekhnē on instagram</a
          >
        </li>
        <li>
          <a href="https://www.facebook.com/profile.php?id=61550537097899"
            >tekhnē on facebook</a
          >
        </li>
      </ul>
    </div>

    <div id="newsletter" class="file grow">
      <div class="file-tab">Newsletter</div>
      {{pages[0].content}}
    </div>

    <div class="logo_disclaimer file grow">
      <div class="file-tab">
        <img src="{{ SITELOGO }}" alt="european logo" />
      </div>
      <p class="small">
        Funded by the European Union. Views and opinions expressed are however
        those of the author(s) only and do not necessarily reflect those of the
        European Union or the European Education and Culture Executive Agency
        (EACEA). Neither the European Union nor EACEA can be held responsible
        for them.
      </p>
    </div>

</footer>
