

{# author as class for accent color #}
<section    class="section-file
            {{ article.authors|join(' ', attribute='slug') }}
            "
            {% if article.authors|length != 1 %} style="--c-accent: var(--tekhne);" {% endif %}
            >

<div class="file-image">
    <a href="/{{ article.url }}">
        {% if article.cover %}
        <img class="image-process-cover" src="{{ SITEURL }}/images/{{article.cover}}">
        {% else %}
        <div class="no-image"
            {% if article.authors|length > 1 and article.authors|length < 6 %}
                style=" background: conic-gradient( 
                {% for author in article.authors %} 
                    var(--{{ author.slug }}) 
                    {{(loop.index - 1) / loop.length * 100}}% 
                    {{ loop.index / loop.length * 100 }}% 
                    {{ ", " if not loop.last else ""}} 
                {% endfor %} );"
            {% endif %}>
            </div>
        {% endif %}
    </a>
    
    <div class="file-tab">{% if article.type %}{{ article.type }}{% else %}article{% endif %}</div>
</div>

<div class="file grey">

    <div class="file-indicator" 
        {% if article.authors|length > 1 and article.authors|length < 6 %}
            style=" background: linear-gradient( 
            {% for author in article.authors %} 
                var(--{{ author.slug }}) 
                {{(loop.index - 1) / loop.length * 100}}% 
                {{ loop.index / loop.length * 100 }}% 
                {{ ", " if not loop.last else ""}} 
            {% endfor %} );"
        {% endif %}>
    </div>

    <a class="file-link" href="/{{ article.url }}">
        <img src="{{ SITEURL }}/theme/assets/arrow.svg">
    </a>

    {# --- POST METADATA and SHORT --- #}

    <div class="file__meta">
        <h2><a href="/{{article.url}}">{{ article.title }}</a></h2>
        {% if article.artists %}
        <div class="file__artists">
          <ul class="comma-list">
            {% for artist in article.artists %}
              <li><a href="/artists.html#{{artist.slug}}">{{artist}}</a></li>
              {% if loop.revindex != 1 %}, {% endif %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}
    </div>

    <div class="file__summary">
        {{ article.summary }}
    </div>

    <div class="file__footer">
    </div>

    {#
    <p>
        {% if article.tags %}
            This event is related to
            {% for tag in article.tags %}<a href="/tag/{{ tag.slug }}.html">{{ tag }}</a>{% endfor %}.
        {% endif %}
    </p>
    #}
</div>

</section>
