
{% set issue_articles = articles|has_cat(issue)|sort(attribute='source_path') %}
{% set edito = issue_articles|selectattr('iseditorial', 'equalto', 'True')|first %}

{# author as class for accent color #}
<section  class="journal-section-file
          {{ edito.authors|join(' ', attribute='slug') }}
          "
          {% if edito.authors|length != 1 %} style="--c-accent: var(--tekhne);" {% endif %}
          >


  {# edito title as issue title #}
  <div>
    <h2 class="file-journal-title">
      <a class="logo rand link-like" href="{{SITEURL}}/{{ edito.url }}">{{ edito.title }}</a>
    </h2>
  
    {# using edito's meta-data as the issue meta-data #}
    <div class="file-journal-text">
        {# <h2>Issue organized by {{ edito.authors|join(', ') }}</h2> #}
        <h2>Published on {{ date([{'d': edito.date}]) }}</h2>
        {# <p>{{ edito.summary }}</p> #}
        {{ edito.content }}
    </div>
  </div>

  <div class="file">
    <a class="file-cover-link" href="{{SITEURL}}/{{ edito.url }}">
        <div class="file-indicator" 
        {% if edito.authors|length > 1 and edito.authors|length < 6 %}
            style=" background: linear-gradient( 
            {% for author in edito.authors %} 
                var(--{{ author.slug }}) 
                {{(loop.index - 1) / loop.length * 100}}% 
                {{ loop.index / loop.length * 100 }}% 
                {{ ", " if not loop.last else ""}} 
            {% endfor %} );"
        {% endif %}>
        </div>

        {# issue folder name as issue index #}
        <div class="file-tab">
          {{issue.shortname}}
        </div>

        {# iterating on the article's covers #}
        <div class="file-image-container">
          {% for article in issue_articles %}
            {% if not article.iseditorial  %}
            <div>
              <img class="image-process-cover" src="{{SITEURL}}/images/{{article.cover}}" alt="">
            </div>
            {% endif %}
          {% endfor %}
        </div>

        <div class="file-title-container">
          <ul>
            {% for article in issue_articles %}
              {% if not article.iseditorial  %}
              <li>
                {{article.title}} 
                {% if article.artists %}
                <ul class="artists">
                  {% for artist in article.artists %}
                  <li>{{artist}}</li>
                  {% if loop.revindex != 1 %}, {% endif %}
                  {% endfor %}
                </ul>
                {% endif %}
                {{ "<span>&bull;</span>" if not loop.last }}
              </li>
              {% endif %}
            {% endfor %}
                </ul>
        </div>
    </a>
  </div>

</section>
